:root {
    --background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    --main-text-font: 'Inter';
    --main-text-font-size: 1.125rem;
    --main-text-weight-header: 700;
    --main-text-weight: 400;
    --accent-text-font: 'PressStart2P';
    --accent-text-font-size: 0.875rem;
    --accent-text-header: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
    --accent-text-subheader: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
    --main-width: clamp(23.4375rem, 11.8451rem + 49.4607vw, 43.75rem);
    --header-start-main-end-padding: 6.25rem;
    --header-width: clamp(23.4375rem, 11.7007rem + 50.077vw, 43.75rem);
    --header-block-padding: clamp(7.5rem, 7.2111rem + 1.2327vw, 8rem);
    --header-subheader-gap: 1.25rem;
    --card-between-gap: 3.125rem;
    --card-header-inline-paddng: 0.625rem;
    --card-header-block-padding: 0.25rem;
    --card-content-padding: 1.5625rem;
    --card-content-gap: 1.625rem;
    --card-content-text-gap: 1.6875rem;
    --card-content-button-gap: 0.625rem;
    --border-width: 0.125rem;
    --button-heght: 2.375rem;
    --text-shadow-width: 0.0625rem;
    --watermark-block-start-padding: 1.4375rem;
    --watermark-inline-end-padding: clamp(0.6875rem, 0.2541rem + 1.849vw, 1.4375rem);
    --save-button-inline-size: clamp(19.375rem, 18.3277rem + 4.4684vw, 21.1875rem);
    --main-text-color: #000000;
    --background-page-color: #FFFFFF;
    --border-color: #000000;
    --text-shadow-color: #FFFFFF;
    --background: linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    --heart-icon-contour-color: #000000;
    --heart-icon-main-body: red;
    --heart-icon-core: #FFFFFF;
    --watermark-opacity: 0.5;
    --dialog-inline-size: 22.0625rem;
    --dialog-block-padding: 1.875rem;
    --dialog-inline-padding: 1.875rem;
    --dialog-row-gap: 1.875rem;
    --dialog-column-gap: 1.25rem;
}

@media (width <= 375px) {
    :root {
        --dialog-inline-size: 21.3125rem;
        --dialog-inline-padding: 2.5rem;
    }
  }